# USAID FUNDING SENTIMENTAL ANALYSIS

## Merging the Reddit dataset

In [40]:

import os
import glob
import pandas as pd

# Path to your directory containing the CSV files
path = r'C:\Users\AHB\Desktop\my_quick_acess\3.Projects\projects pipeline\2025\USAID-Kenya-Sentiment-Analysis\data\raw\reddit_data'  

# Get a list of all .csv files in the directory
ruth_reddit_files = glob.glob(os.path.join(path, "*.csv"))

# Read and combine them into a single DataFrame
dfs = []
for filename in ruth_reddit_files:
    df = pd.read_csv(filename)
    dfs.append(df)

# Concatenate all into one big DataFrame
ruth_reddt_final= pd.concat(dfs, ignore_index=True)

# Inspect the combined dataset
ruth_reddt_final.head()

,title,selftext,subreddit,author,created_utc,url,score,num_comments,keyword,text,date_posted,upvotes,comments,permalink,search_term,created_date,created,Unnamed: 0
0,"USAID left a month ago, do we have ARVs in Kenya?",Someone on a different group (different websit...,Kenya,muerki,2025-04-15 13:16:53,https://www.reddit.com/r/Kenya/comments/1jzrn2...,3.0,5.0,usaid kenya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Classism in r/Kenya and r/nairobi,The classism I'm seeing in both subs is a good...,Kenya,Morio_anzenza,2025-04-07 04:21:12,https://www.reddit.com/r/Kenya/comments/1jtcvb...,169.0,95.0,usaid kenya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,EX-USAID people!! Let's talk,Are you still in contact with the organisation...,Kenya,vindtar,2025-04-05 19:09:10,https://www.reddit.com/r/Kenya/comments/1jsb14...,2.0,2.0,usaid kenya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Why western powers back Israel no matter what ...,"I don't care what good book you read, but it's...",Kenya,Gold_Smart,2025-03-25 08:18:04,https://www.reddit.com/r/Kenya/comments/1jjehw...,13.0,20.0,usaid kenya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Is kenya capable of funding its needs now that...,How is kenya prepared to fill the vacuum of US...,Kenya,westmaxia,2025-03-08 08:08:58,https://www.reddit.com/r/Kenya/comments/1j6cjz...,1.0,6.0,usaid kenya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
#listing numbe of rows and columns
rows, columns = ruth_reddt_final.shape

print(f'number of rows = {rows}')
print(f'number of rows = {columns}')

number of rows = 1289
number of rows = 18

In [42]:
#listing columns in the dataset
ruth_reddt_final.columns

Index(['title', 'selftext', 'subreddit', 'author', 'created_utc', 'url',
       'score', 'num_comments', 'keyword', 'text', 'date_posted', 'upvotes',
       'comments', 'permalink', 'search_term', 'created_date', 'created',
       'Unnamed: 0'],
      dtype='object')

In [43]:
ruth_reddt_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1289 entries, 0 to 1288
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         1289 non-null   object
 1   selftext      624 non-null    object
 2   subreddit     1289 non-null   object
 3   author        466 non-null    object
 4   created_utc   833 non-null    object
 5   url           1289 non-null   object
 6   score         1013 non-null   float64
 7   num_comments  833 non-null    float64
 8   keyword       742 non-null    object
 9   text          277 non-null    object
 10  date_posted   276 non-null    object
 11  upvotes       276 non-null    float64
 12  comments      276 non-null    float64
 13  permalink     426 non-null    object
 14  search_term   150 non-null    object
 15  created_date  150 non-null    object
 16  created       180 non-null    object
 17  Unnamed: 0    200 non-null    float64
dtypes: float64(5), object(13)
memory usage: 181.4+ KB

In [44]:
#deleting unnecessary cols
ruth_reddt_final.drop(columns=['subreddit', 'author','url',
       'score', 'num_comments', 'keyword', 'upvotes',
       'comments', 'permalink', 'search_term',
       'Unnamed: 0'],inplace=True)

In [45]:
ruth_reddt_final.sample(n=5)

,title,selftext,created_utc,text,date_posted,created_date,created
743,"USAID left a month ago, do we have ARVs in Kenya?",NaN,1744723013.0,Someone on a different group (different websit...,NaN,2025-04-15 13:16:53,NaN
883,River yala; the “government mortuary”,NaN,1743625035.0,"In the heart of western Kenya, where the River...",NaN,2025-04-02 20:17:15,NaN
65,Kenya is in trouble a self inflicted Cuba,We all know this but here is a deeper look int...,2025-04-15 10:33:50,NaN,NaN,NaN,NaN
1251,Weekly Sub-Saharan Africa Security Situation a...,NaN,2025-05-09 14:22:28,NaN,NaN,NaN,NaN
261,Kibaki ALSO failed us,\r\nThere is a tendency to over-exaggerate the...,2025-04-01 01:12:42,NaN,NaN,NaN,NaN

In [46]:
ruth_reddt_final.columns

Index(['title', 'selftext', 'created_utc', 'text', 'date_posted',
       'created_date', 'created'],
      dtype='object')

In [47]:
import pandas as pd

# Example dataset
# df = pd.read_csv('your_file.csv')

# Combine into one column
ruth_reddt_final["date"] = ruth_reddt_final["created_date"].combine_first(ruth_reddt_final["date_posted"])\
                               .combine_first(ruth_reddt_final["created_utc"])\
                               .combine_first(ruth_reddt_final["created"])
# Drop the original columns if you want
ruth_reddt_final.drop(["created_utc","date_posted", "created_date", "created"], axis=1, inplace=True)

# Inspect
ruth_reddt_final.head()

,title,selftext,text,date
0,"USAID left a month ago, do we have ARVs in Kenya?",Someone on a different group (different websit...,NaN,2025-04-15 13:16:53
1,Classism in r/Kenya and r/nairobi,The classism I'm seeing in both subs is a good...,NaN,2025-04-07 04:21:12
2,EX-USAID people!! Let's talk,Are you still in contact with the organisation...,NaN,2025-04-05 19:09:10
3,Why western powers back Israel no matter what ...,"I don't care what good book you read, but it's...",NaN,2025-03-25 08:18:04
4,Is kenya capable of funding its needs now that...,How is kenya prepared to fill the vacuum of US...,NaN,2025-03-08 08:08:58

In [48]:
ruth_reddt_final.to_csv(r"C:\Users\AHB\Desktop\my_quick_acess\3.Projects\projects pipeline\2025\USAID-Kenya-Sentiment-Analysis\data\raw\ruth_reddit_final__news.csv")

## Merging the News dataset